.button
    padding: 0.52% 1.25%//10px 24px
    width: 8.854% //170px
    min-width: 170px
    height: 40px
    font-weight: 400
    font-size: 14px
    line-height: 16px
    color: $black-color
    background: $white-color
    border: 2px solid $accent-color
    border-radius: 40px
    cursor: pointer
    &__sale
        background: $accent-color
        border: 2px solid $white-color
        color: $white-color


