.footer
    &__info
        padding: 3.4234% 0 //38px 0
        display: flex
        justify-content: space-between
        align-items: center
    &__social
        display: flex
        align-items: center
        justify-content: space-between
        width: 22%
    &__adress
        font-weight: 400
        font-size: 0.875rem //14px
        line-height: 1rem //16px
        color: $black-color
        padding-left: 6%
    
    &__copywriting
        padding: 2.2522% 0 //25px 0
        background-color: $gray-color
        &-text
            font-weight: 400
            font-size: 0.75rem //12px
            line-height: 0.875rem //14px
            color: #828282


.social
    display: flex
    align-items: center
    justify-content: space-between
    &__round
        display: flex
        align-items: center
        justify-content: center
        width: 45px
        height: 45px
        background: $white-color
        border: 2px solid $accent-color
        border-radius: 50%

@media (max-width: 1008px)
    .footer__adress
        padding-left: 0
    .footer__social
        width: 26%
    .footer__info
        justify-content: space-around
        flex-wrap: wrap

@media (max-width: 874px)
    .footer__social
        width: 35%
    .main-contacts__info__footer
        margin-top: 30px
    .container__footer-copywriting
        flex-direction: column
        align-items: center
    .footer__copywriting-text
        text-align: center
        &:last-child
            padding-top: 9px

@media (max-width: 501px)
    .footer__info
        align-items: center
        flex-direction: column
        height: 194px
    .main-contacts__info__footer
        margin-top: 0
        flex-direction: row
        align-items: center
        width: 100%
        height: max-content
    .footer__social
        width: 70%
