.header
    padding: 0.8854% 0//17px 0
    background-color: $gray-color
    &__ul
        display: flex
        justify-content: space-between
        margin: 0 auto
        max-width: 447px
    &__li
        list-style-type: none
    &__link
        text-decoration: none
        color: $dark-color